body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
#menu {
	background-color: #494d51;
	color: #FFFFFF;
	width: 20%;
	height: 100%;
	position:fixed;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
}
#map {
	margin-left: 20%;
	width: 80%;
	height: 100%
}